.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
 
}

.line {
  transform: translateY(-55px);
}
.under-text {
  color: #2B2B2B;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.8s linear;
  }
}

.App-header {
  background-color: #FEFBF3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: translateY(0px)
  }
  25% {
    transform: translateY(10px)
  }
  50% {
    transform: translateY(15px)
  }
  75% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(1px)
  }
}

@media only screen and (max-width: 600px) {

  .line {
    transform: translateY(-35px);
  }
}

.no-margin {
  margin-top: -20px;
}
